<form action="/admin/products" method="POST">
  <fieldset name="product">
    <legend>New Product Information</legend>
    <label for="product">Name</label>
    <input type="text" name="name" />
    </br>
    <label for="product">Description</label>
    <input type="text" name="description" />
    </br>
    <input type="submit" />
  </fieldset>
</form>
