/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/*nav {
	height: 100px;
}*/

nav #navbar-logo {
	float: left;
	display: inline;
	/*background-image: url("/images/amazon-logo.png");*/
	/*background-size: 350px;*/
	width: 190px;
	height: 37px;
}

nav h1 {
	font-size: 30px;
}

nav #navbar-short-links {
	float: left;
	display: inline;
	margin-top: 30px;
	margin-left: 20px;
}

nav #navbar-short-links a {
	padding-left: 15px;
}

#header-search {
	margin: 15px 0px;
}

#product-types {
	border: 1px solid rgba(0, 0, 0, .2)
}

#product-types ul {
	list-style: none;
}

#product-types ul li {
	padding: 10px 0px;
	font-size: 16px;
}

.adver-bar {
	padding: 10px 30px;
}

/*#products ul {
	list-style: none;
}*/
#user-name {
	margin-top: 20px;
	font-weight: bold;
}

div.product-item {
	/*display: inline;*/
	width: 150px;
	float: left;
	margin: 10px 20px;
	border-right: 1px solid rgba(0, 0, 0, .1)
}

div.product-item strong {
	font-size: 18px;
}

div.product-item span {
	font-size: 16px;
}

#product h1 {
	color: #0a8cd2;
	text-transform: uppercase;
	padding-left: 30px;
}

#product img {
	height: 250px;
	width: 250px;
}

#product span,strong {
	padding-left: 30px;
	font-size: 25px;
}

#product span {
	font-size: 18px;
}