<div class="adver-bar">
	<img src="/images/adver-bar.jpg">
</div>
<div class="adver-bar">
	<img src="/images/adver-bar-2.jpg">
</div>		

<div id="products">
	  <% @products.each do |product| %>
	    <div class="product-item">
	      	<img src="/images/book.jpg">
	        <strong><%= link_to product.name, product.uri %></strong><br>
	        <span><%= number_to_currency product.price.price %></span>
	    </div>
	  <% end %>
</div>
